{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container">
        <h1>Add new image to database</h1>
        <p>
            Add a new image by selecting the "Img file". select the class to which the image needs to be added. Finally click on "Upload" button.
        </p>
        <hr>
        <form method = "post" enctype="multipart/form-data"> 
            {% csrf_token %} 
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Upload</button> 
        </form> 

    </div> 
</body>
{% endblock content %}