{% extends 'base.html' %}

{% block content %}
<body>
        
<div class="container">
  <div class="text-center">
    <h1></h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="text-center">
        <h3>Choose Augmentations</h3>
        <div class="text-left">
              <button class="btn btn-primary my-1 w-100">Horizonatl shift</button>
              <button class="btn btn-primary my-1 w-100">Blur</button>
              <button class="btn btn-primary my-1 w-100">Convolution</button>
              <button class="btn btn-primary my-1 w-100">Horizontal Right</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="text-center">
        <h3>Selected  Augmentations</h3>
        <div class="text-center">
          <ul class="justList">
          </ul>
        </div>
      </div>
    </div>
        
      </div>
    </div>
  </div>
</div>

</body>
{% endblock content %}
    

