<!DOCTYPE HTML>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="drag_and_drop.js"></script>
{% load static %}
<script src="{% static 'drag.js' %}" >
</script>
<script>
    document.getElementsByClassName('btn').forEach(element => {
  
  element.onclick(function() {
      var text = this.innerHTML; 
      var itemFound = false; 
      $('ul.justList li').each(function() { 
      if ($(this).text() === text) { 
              itemFound = true;
          }
      });
      if (!itemFound) { 
          $('<li/>', {
              html: text
          }).appendTo('ul.justList') 
      } else { 
          $(`ul.justList li:contains(${text})`).remove();
      }
  });
});
</script>
<div class="container">
  <div class="text-center">
    <h1>Input The augmentations</h1>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h3>Different Type of Augmentations</h3>
        <div class="text-left">
          <ul>
            <div class="row">
              <button class="btn my-1">Horizonatl shift</button>
            </div>
            <div class="row">
              <button class="btn my-1">Blur</button>
            </div>
            <div class="row">
              <button class="btn my-1">Convolution</button>
            </div>
            <div class="row">
              <button class="btn my-1">Horizontal Right</button>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <h4>Selected  Augmentations in order</h4>
            <div class="text-left">
              <ul class="justList">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>